<div
  class="bg-gray-100 px-4 py-4 flex justify-start items-start gap-4 h-screen"
>
  <div class="w-1/6">
    <div>
      <ul class="space-y-[1px] divide-y-2">
        <li
          routerLinkActive="active"
          [routerLink]="['/courses']"
          routerLinkOptions="{extact: true}"
          class="bg-blue-200 cursor-pointer py-2 px-4 rounded-md text-gray-600 font-semibold tracking-wider"
        >
          <a>Courses</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLink]="['/users']"
          routerLinkOptions="{extact: true}"
          class="bg-blue-200 cursor-pointer py-2 px-4 rounded-md text-gray-600 font-semibold tracking-wider"
        >
          <a>Users</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLink]="['/about-us']"
          routerLinkOptions="{extact: true}"
          class="bg-blue-200 cursor-pointer py-2 px-4 rounded-md text-gray-600 font-semibold tracking-wider"
        >
          <a>About Us</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-5/6">
    <router-outlet></router-outlet>
  </div>
</div>
